<!--
    Title: contact.component.html.
    Author: Jamal Eddine Damir
    Date: April 14, 2023
    Description: contact.component.html file
    Sources:
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->

<!-- Page title-->
<h1>{{ title }}</h1>
<!-- Div containing contact data-->
<div class="contact-main">
	<mat-card class="contact-container mat-elevation-z0">
		<mat-card-content fxLayout="row" fxLayoutGap="20%">
			<div class="contact-items">
			<p>
				<i class="material-icons md-">location_on</i><br />
				505 Main Street<br />
				Omaha<br />
				Nebraska, 681234
			</p>

			<p>
				<i class="material-icons md-">phone</i><br />
				- Direct: 555-555-5555 <br />
				- Toll-Free: 1-800-555-5555<br />
				- Fax: 555-555-555
			</p>
		</div>
		</mat-card-content>
	</mat-card>
</div>
