<!--
    Title: about.component.html.
    Author: Jamal Eddine Damir
    Date: April 14, 2023
    Description: about.component.html file
    Sources:
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->

<!-- About page container-->
<div class="about-container">
	<!-- Page title-->
	<h1 class="about-title">{{ title }}</h1>
	<!-- Material design card containing about content-->
	<mat-card class="about-main mat-elevation-z0">
		<mat-card-content fxLayout="row" fxLayoutGap="500px">
			<p>
				Welcome to Nodebucket, a task management application designed to help
				you stay on top of your to-do list. We are a team of passionate
				developers and designers who believe that technology can make a real
				difference in people's lives, and we are committed to creating software
				solutions that simplify the way you work. <br />Nodebucket is a
				user-friendly platform that lets you create, organize, and delete tasks
				with ease. Our application is perfect for individuals who want to keep
				track of their tasks and stay focused on their goals. With Nodebucket,
				you can easily manage your tasks, set priorities, and track your
				progress towards completion. <br />At the core of Nodebucket is our
				powerful task creation tool, which lets you create, organize, and delete
				tasks in seconds. As we move forward, we plan on including advanced
				features like recurring tasks and task reminders, making it easy to stay
				organized and on top of your workload. In addition to our task creation
				tool, Nodebucket also lets you organize and delete tasks with ease. You
				can categorize your tasks into “Todo” and “Done” lists, making it easy
				to keep track of everything you need to do. And if you decide that a
				task is no longer relevant, you can easily delete it with just a few
				clicks. <br />In short, Nodebucket is the ultimate task management
				solution for anyone who wants to stay organized and focused. Whether you
				are a busy professional, a student, or just someone who wants to be more
				productive, our platform has everything you need to succeed.
			</p>
		</mat-card-content>
	</mat-card>
</div>
