<!--
    Title: home.component.html.
    Author: Jamal Eddine Damir
    Date: April 14, 2023
    Description: home.component.html file
    Sources:
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->

<!-- Page title-->
<div fxLayout="column" class="main-welcome">
	<div fxFlex>
		<h1 class="title">Welcome to WEB 450's - nodebucket Project</h1>
	</div>
</div>

<div fxLayout="column" class="server-messages">
	<!-- Server messages-->
	<div>
		<p-messages [(value)]="serverMessages" [enableService]="false"></p-messages>
	</div>
</div>

<!-- Div containing input for creating tasks-->
<div fxLayout="column">
	<!-- Task Form-->
	<form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset()">
		<mat-form-field appearance="fill" class="form-field w-100">
			<input
				matInput
				formControlName="task"
				placeholder="       Enter a task name..."
			/>

			<button
				type="submit"
				[disabled]="!taskForm.valid"
				mat-icon-button
				matSuffix
				class="btn"
				color="accent"
			>
				<mat-icon
					style="width: 50px; height: 50px; font-size: 40px; margin-left: 10px"
					id="add-task-icon"
				>
					add_circle
				</mat-icon>
			</button>
		</mat-form-field>
	</form>
	<div class="errors-container">
		<!-- Error Handling -->
		<div
			*ngIf="
				taskForm.controls['task'].hasError('required') &&
				taskForm.controls['task'].touched
			"
		>
			<p class="error-message">Task is a required field</p>
		</div>

		<div
			*ngIf="
				taskForm.controls['task'].hasError('minlength') &&
				taskForm.controls['task'].touched
			"
		>
			<p class="error-message">
				The task field must be at least 3 characters in length
			</p>
		</div>

		<div
			*ngIf="
				taskForm.controls['task'].hasError('maxlength') &&
				taskForm.controls['task'].touched
			"
		>
			<p class="error-message">
				The task field must be less than 35 characters in length
			</p>
		</div>
	</div>

	<!-- Todo done columns-->
	<div fxFlex>
		<div
			fxLayout="row"
			fxLayoutGap="3%"
			class="task-container"
			style="margin-top: 10px"
		>
			<!-- Todo column-->
			<div fxFlex>
				<mat-card class="mat-elevation-z0 task-list-container">
					<mat-card-title class="task-title">ToDo</mat-card-title>
					<mat-card-content>
						<!-- ToDo Section-->
						<div
							class="task-list"
							fxLayout="column"
							fxLayoutGap="15px"
							cdkDropList
							#todoList="cdkDropList"
							[cdkDropListData]="todo"
							[cdkDropListConnectedTo]="[doneList]"
							(cdkDropListDropped)="drop($event)"
						>
							<!-- Iterate over the todo array-->
							<div *ngFor="let item of todo" cdkDrag>
								<mat-card class="task-items">
									<mat-card-content>
										<div fxLayout="row" class="task-tile">
											<div fxFlex class="task-name">
												<!-- Displays tasks from todo array-->
												{{ item.text }}
											</div>
											<!-- Task Deletion-->
											<div fxFlex fxLayoutAlign="end" style="margin-top: -7px">
												<button mat-icon-button (click)="deleteTask(item._id)">
													<mat-icon color="warn">delete</mat-icon>
												</button>
											</div>
										</div>
									</mat-card-content>
								</mat-card>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
			<!-- Done column-->
			<div fxFlex>
				<mat-card class="mat-elevation-z0 task-list-container">
					<mat-card-title class="task-title">Done</mat-card-title>
					<mat-card-content>
						<!-- done Section-->
						<div
							class="task-list"
							fxLayout="column"
							fxLayoutGap="15px"
							class="task-list"
							fxLayout="column"
							cdkDropList
							#doneList="cdkDropList"
							[cdkDropListData]="done"
							[cdkDropListConnectedTo]="[todoList]"
							(cdkDropListDropped)="drop($event)"
						>
							<!-- Iterate over the done array-->
							<div *ngFor="let item of done" cdkDrag>
								<mat-card class="task-items">
									<mat-card-content>
										<div fxLayout="row">
											<div fxFlex class="task-name">
												<!-- Displays done tasks-->
												{{ item.text }}
											</div>

											<!-- Task Deletion-->
											<div fxFlex fxLayoutAlign="end" style="margin-top: -7px">
												<button mat-icon-button (click)="deleteTask(item._id)">
													<mat-icon color="warn">delete</mat-icon>
												</button>
											</div>
										</div>
									</mat-card-content>
								</mat-card>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>
