/*
 * Title: auth-layout.component.css
 * Date: April 14, 2023
 * Author: Jamal Eddine Damir
 * Description: Nodebucket auth-layout component styles
 * Sources:
 * Source code from class GitHub Repository
 * Instructor provided assignment specific instructions
 */

/* Importing fonts*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Carter+One&family=Kanit:wght@300&display=swap");
.logo {
	font-family: "Abril Fatface", cursive;
	font-size: 40px;
	font-weight: bolder;
}

.logo-items {
	display: flex;
	flex-direction: row;
	gap: 2rem;
} 

.navbar-container {
	padding: 5px;
	display: flex;
	flex-direction: row;
	gap: 30%;
}

.nav-links {
	display: flex;
	flex-direction: row;
	gap: 50%;
	float: right;
}

.navbar-link {
	font-family: "Abril Fatface", cursive;
	font-size: 20px;
	font-weight: bold;
}

.main-content {
	padding-bottom: 50px;
	background-color: #0e1a40;
	text-align: center;
	min-height: 1800px;
}

.footer {
	bottom: 0;
	position: fixed;
	width: 100%;
}

.footer-content {
	font-size: 16px;
	font-weight: lighter;
	padding-left: 100px;
	letter-spacing: 3px;
	justify-content: center;
}

.bu-link {
	text-decoration: none;
}

.bu-link:hover {
	text-decoration: underline;
}

img {
	margin: 10px 10px 10px 0;
	height: 60px;
}
