<!--
    Title: base-layout.component.html.
    Author: Jamal Eddine Damir
    Date: April 14, 2023
    Description: base-layout.component.html file
    Sources:
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->

<!-- Confirmation dialog tiltle-->
<h2 mat-dialog-title>{{ dialogData.header }}</h2>

<!-- Dialog body-->
<div mat-dialog-content>
	<p>{{ dialogData.body }}</p>
	<small class="dialog-warning">Warning: This action cannot be undone.</small>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions align="end">
	<button mat-raised-button matDialogClose="cancel" color="accent">
		No thanks
	</button>
	<button
		mat-raised-button
		matDialogClose="confirm"
		color="accent"
		cdkFocusInitial
	>
		Confirm
	</button>
</div>
